nd-color: rgba(247, 247, 247, 0.5);
    color: rgb(50, 40, 69);
    font-family: Arial, sans-serif;
    line-height: 1.5;
    text-align: center;}

h1, h2, h3 {font-weight: 300;}

h2 {color: blue;}

h3 {color: rgb(165, 211, 9);}


img {max-width: 50%;display: block; margin: 0 auto;}
